@import bulma/bulma
.float
	position: fixed
	bottom: 30px
	right: 50px
	width: 75%
	height: 25%
	text-align: center
	&:hover
		text-decoration: none
.card
	position: fixed
	bottom: 30px
	right: 50px
	width: 75%
	height: 25%
	text-align: center
	&:hover
		text-decoration: none
